parameters:
    level: 6
    paths:
        - app/
    excludePaths:
        - app/Providers/
        - app/Console/
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
