parameters:
    level: 6
    paths:
        - app/
    excludePaths:
        - app/Providers/
        - app/Console/
    ignoreErrors:
        - '#PHPDoc tag @return with type void is incompatible with native return type#'
